*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: lightcoral;
}

h1 {
    margin: 0px auto 25px;
    text-align: center;
    color: #a93a3a;
}

.app {
    max-width: 333px;
    margin: 10px auto 0px;
    background-color: #fff;
    border: 5px solid #cc4646;
    border-radius: 30px 10px;
    padding: 30px;
}

.btn-link {
    border: 0px;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    font-size: 1rem;
    float: right;
}
/* gets rid of the focusing when clicked or hovered over */
input:focus {
    outline: none;
    border: specify yours;
 }

 /* chanign the default style to custom ones for form field and btn */
input#itemToAdd {
    -webkit-appearance: none;
    border: 1px solid #ffc646;
    background-color: #f080803d;
    padding: 8px;
    font-size: 12px;
    width: 187px;
} 

input#addButton {
    -webkit-appearance: none;
    border: 1px solid #ffc646;
    padding: 8px 10px;
    font-size: 12px;
}

/* style for list items */
ul.todo {
    list-style: none;
    padding: 0px;
}
ul.todo li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

ul.todo li:last-child {
    border-bottom: 0px;
}

/* form field and submit button style */
form.add input [type="text"] {
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 5px;
}

form.add input [type="submit"] {
    font-size: 1em;
    border-radius: 5px;
    padding: 5px 7px;
    border:1px solid lightcoral;
    background-color: #cc4646;
    color:#fff;
}